# -----------------------------
# SISTEMA / GENERALES
# -----------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/
.build/
.buildlog/

# -----------------------------
# IDEs
# -----------------------------
.idea/
*.iml
*.ipr
*.iws

# VS Code (opcional)
.vscode/

# -----------------------------
# FLUTTER / DART
# -----------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/

# Documentación generada
**/doc/api/

# -----------------------------
# ANDROID
# -----------------------------
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# -----------------------------
# iOS
# -----------------------------
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/

# -----------------------------
# FIREBASE (IMPORTANTE)
# -----------------------------
firebase-debug.log
firebase-debug.*.log
firestore-debug.log

# Opcional (solo si tienes claves sensibles)
# firebase_options.dart

# -----------------------------
# OTROS
# -----------------------------
*.lock
